 
# <div style="text-align: center; background-color:turquoise; font-family:Impact; color: black; padding: 20px; line-height: 1;border-radius:20px">Data-Driven Analytics for Predicting On-Time Product Delivery</div>

## Business Scope

The business scope for the Shipping Dataset involves developing a robust machine learning model to accurately predict whether the product that is shipped reached to customer on time or not. The application of this predictive model aims to optimize shipping system, improve on the basis of customer feedback, and contribute to wellbeing of our shipping company. This initiative aims for timely reach of each product to customer. The success of the project will be measured by the model's accuracy, precision, recall.

## <div style="text-align: center; background-color:#80ced6; font-family:Impact; color: black; padding: 20px; line-height: 1;border-radius:20px">A. About dataset</div>

Columns names:

1. ID:
    It is a numerical column.
    Each product has its own unique id.
2. Warehouse_block:
    It is a categorical column.
    The Company have big Warehouse which is divided in to block such as A,B,C,D,E.
3. Mode of shipment:
    It is a categorical column.
    The Company Ships the products in multiple way such as Ship, Flight and Road.
4. Customer care calls:
    It is a numerical column.
    The number of calls made from enquiry for enquiry of the shipment.
5. Customer rating:
    It is a numerical column.
    The company has rated from every customer. 1 is the lowest (Worst), 5 is the highest (Best).
6. Cost of the product:
    It is a numerical column.
    Cost of the Product in US Dollars.
7. Prior purchases:
    It is a numerical variable.
    The Number of Prior Purchase.
8. Product importance:
    It is a categorical column.
    The company has categorized the product in the various parameter such as low, medium, high.
    
9. Gender:
    It is a categorical column.
    Male and Female.
10. Discount offered:
    It is a numerical column.
    Discount offered on that specific product.
11. Weight in gms:
    It is a numerical column.
     It is the weight in grams.
12. Reached on time:
    It is a numerical column.
    It is the target variable, where 1 Indicates that the product has NOT reached on time and 0 indicates it has reached on time.
    It is our target variable.

In [3]:
#!pip install seaborn
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [4]:
df=pd.read_csv("shipping.csv")
df.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1